// colors:
$main-color-1: #bfa08b;
$main-color-2: #000;
$main-color-3: #fff;
$main-color-4: #6b6b6b;
$main-color-5: #ab857c;
$main-color-6: #353535;
$main-color-7: #a33241;
$main-color-8: #ac5b66;
$main-color-9: #4e4e4e;
$main-color-10: #72000f;
$main-color-11: #c59e95;
$main-color-12: #9d9d9d;
$main-color-13: #c59e95b8;
$main-color-14: #c6c6c6;
$main-color-15: #960418;
$main-color-16: #8a0012;
$main-color-17: #d1b09a;
$main-color-18: #bd9377;
// custom colors:
$b-r-4px: 10px;
// default style
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
}
//head

header {
  padding: 1% 5%;
  box-shadow: 0 0 6px $main-color-9;
  .head {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .head-left-info {
      height: 100%;
      display: flex;
      align-items: center;
      img {
        width: 68px;
        height: 68px;
        border-radius: 50%;
        margin-right: 10px;
      }
      .cool-text {
        font-family: "Noto Sans", sans-serif;
        font-size: 30px;
        font-style: normal;
        font-weight: 300;

        span {
          font-weight: 500;
        }
      }
    }
    .head-nav {
      width: 50%;
      display: flex;
      justify-content: space-evenly;
      text-align: center;
      margin-right: 5%;
      a {
        font-family: "Noto Sans", sans-serif;
        font-size: 25px;
        font-style: normal;
        font-weight: 300;
        text-decoration: none;
        transition: 0.15s;
        color: $main-color-4;
        &:hover {
          color: $main-color-6;
          font-size: 27px;
          border-bottom: $main-color-5 2px solid;
          span {
            font-weight: 500;
            color: $main-color-2;
          }
        }
        &:active {
          color: $main-color-2;
        }
      }
    }
    .head-right-info {
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: end;
      div {
        a {
          font-family: "Noto Sans", sans-serif;
          font-size: 16px;
          font-style: normal;
          font-weight: 300;
          text-decoration: none;
          color: $main-color-8;
          letter-spacing: 1px;
          &:hover {
            color: $main-color-7;
          }
          &:active {
            color: $main-color-10;
          }
        }
      }
      .head-right-info-nav {
        a {
          font-size: 14px;
          color: $main-color-4;
          margin-left: 5px;
          &:hover {
            color: $main-color-6;
          }
          &:active {
            color: $main-color-2;
          }
        }
      }
    }
    .burger {
      display: none;
      .burger-nav {
        display: none;
        a {
          font-family: "Noto Sans", sans-serif;
          font-size: 20px;
          font-style: normal;
          font-weight: 300;
          text-decoration: none;
          transition: 0.15s;
          color: $main-color-4;
          &:hover {
            color: $main-color-6;
            font-size: 22px;
            border-bottom: $main-color-5 2px solid;
            span {
              font-weight: 500;
              color: $main-color-2;
            }
          }
          &:active {
            color: $main-color-2;
          }
        }
      }
    }
  }
}

//main

main {
  .home-screen-box {
    .frame {
      padding: 4% 5%;
      display: flex;
      justify-content: space-around;
      align-items: center;
      .moded-img {
        height: 440px;
        width: 350px;
        position: relative;
        .img {
          width: 93.5%;
          height: 95%;
          border-radius: 4px;
          background-image: url(./images/hs-img.png);
          background-repeat: no-repeat;
          background-position: center;
          background-size: cover;
          position: absolute;
          z-index: 2;
          top: 0;
          right: 0;
        }
        .sqeare-border {
          position: absolute;
          width: 93.5%;
          height: 95%;
          border-radius: 4px;
          border: 3px solid $main-color-5;
          bottom: 0;
          left: 0;
        }
      }
      .frame-text {
        width: 32%;
        display: flex;
        flex-direction: column;
        align-items: start;
        h3 {
          font-family: "Inter", sans-serif;
          font-size: 29px;
          font-style: normal;
          font-weight: 300;
          padding-bottom: 5px;
          border-bottom: $main-color-5 2px solid;
          text-transform: uppercase;
          color: $main-color-6;
        }
        h2 {
          font-family: "Inter", sans-serif;
          font-size: 38px;
          font-style: normal;
          font-weight: 400;
          padding-bottom: 5px;
          letter-spacing: 2px;
          text-transform: uppercase;
          color: $main-color-2;
          margin: 5px 0 3px;
        }
        p {
          font-family: "Noto Sans", sans-serif;
          font-size: 18px;
          font-style: normal;
          font-weight: 300;
          letter-spacing: 1px;
          color: $main-color-6;
        }
      }
    }
    .tag-box {
      display: flex;
      justify-content: space-around;
      padding: 1% 5%;
      .tag {
        width: 25%;
        h6 {
          font-family: "Inter", sans-serif;
          font-size: 20px;
          font-style: normal;
          font-weight: 500;
          padding-bottom: 5px;
          letter-spacing: 1px;
          color: $main-color-2;
        }
        p {
          font-family: "Noto Sans", sans-serif;
          font-size: 16px;
          font-style: normal;
          font-weight: 300;
          color: $main-color-6;
          letter-spacing: 1px;
        }
      }
    }
  }
  .h-text {
    display: flex;
    padding: 1.5% 5% 0;
    h3 {
      font-family: "Noto Sans", sans-serif;
      font-size: 30px;
      font-style: normal;
      font-weight: 300;
      border-bottom: $main-color-5 2px solid;
      span {
        font-weight: 500;
      }
    }
  }
  .section-label-box {
    width: 100%;
    padding: 1% 0;
    .label-box {
      width: 100%;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      overflow: hidden;
      padding: 0 5%;

      .skill-label {
        display: flex;
        margin-top: 8%;
        width: 550px;
        .label-icon {
          margin-right: 8px;
          i {
            font-size: 35px;
            color: $main-color-5;
          }
        }
        .label-text {
          h4 {
            font-family: "Inter", sans-serif;
            font-size: 21px;
            font-style: normal;
            font-weight: 400;
            letter-spacing: 1px;
          }
          p {
            color: $main-color-4;
            font-family: "Noto Sans", sans-serif;
            font-size: 16px;
            font-style: normal;
            font-weight: 300;
            line-height: 16px;
            letter-spacing: 1px;
          }
        }
      }
    }
  }
  .section-about-box {
    padding: 4% 5%;
    .h-text-about {
      display: flex;
      margin-top: 4%;
      padding: 1% 0;
      h3 {
        font-family: "Noto Sans", sans-serif;
        font-size: 30px;
        font-style: normal;
        font-weight: 300;
        border-bottom: $main-color-5 2px solid;
        span {
          font-weight: 500;
        }
      }
    }
    .about-info {
      .about-bio {
        display: flex;
        justify-content: space-between;
        .left-bio-text {
          height: 100%;
          width: 58%;
          div {
            width: 100%;
            background-color: $main-color-1;
            padding: 30px 30px;
            border-radius: 4px;
            box-shadow: 0px 3px 9px $main-color-14;
            opacity: 0.95;
            h6 {
              font-family: "Noto Sans", sans-serif;
              font-size: 27px;
              font-style: normal;
              font-weight: 300;
              margin-bottom: 10px;
              letter-spacing: 1px;
            }
            p {
              font-family: "Noto Sans", sans-serif;
              font-size: 16px;
              font-style: normal;
              font-weight: 300;
              line-height: 19px;
              letter-spacing: 1px;
            }
          }
        }
        .right-bio-text {
          width: 38%;
          height: 100%;
          div {
            width: 100%;
            background-color: $main-color-1;
            padding: 30px 30px;
            border-radius: 4px;
            box-shadow: 0px 3px 9px $main-color-14;
            opacity: 0.95;
            h6 {
              font-family: "Noto Sans", sans-serif;
              font-size: 27px;
              font-style: normal;
              font-weight: 300;
              margin-bottom: 10px;
              letter-spacing: 1px;
            }
            p {
              font-family: "Noto Sans", sans-serif;
              font-size: 16px;
              font-style: normal;
              font-weight: 300;
              line-height: 19px;
              letter-spacing: 1px;
            }
          }
        }
      }
      .about-gallery {
        margin-top: 3%;
        display: flex;
        justify-content: space-between;
        overflow: hidden;
        div {
          background-repeat: no-repeat;
          background-position: center;
          background-size: cover;
          display: flex;
          width: 31%;
          height: 250px;
          justify-content: end;
          align-items: end;
          border-radius: 4px;
          box-shadow: 0px 4px 10px $main-color-12;
          transition: 0.5s;
          p {
            font-family: "Noto Sans", sans-serif;
            font-size: 0;
            font-style: normal;
            font-weight: 500;
            text-decoration: none;
            color: $main-color-3;
            letter-spacing: 1px;
            margin: 0 0 5px;
            padding: 0 10px 4px;
            background-color: $main-color-1;
            border-top: $main-color-5 2px solid;
            border-left: $main-color-5 2px solid;
            border-bottom: $main-color-5 2px solid;
            border-top-left-radius: 4px;
            border-bottom-left-radius: 4px;
            transition: 0.5s;
          }
          &:hover > p {
            display: block;
            font-size: 25px;
          }
        }
        div:first-child {
          background-image: url(./images/AGI.png);
        }
        div:nth-child(2) {
          background-image: url(./images/AGIs2.png);
        }
        div:last-child {
          background-image: url(./images/AGIs3.png);
        }
      }
    }
  }
  .section-portfolio-box {
    margin: 2% 0;
    overflow: hidden;
    .section-portfolio {
      margin: 4% 0 1%;
      .work-givers {
        display: flex;
        justify-content: center;
        margin-bottom: 4%;
        img {
          width: 75%;
        }
      }
      .works {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-around;
        align-items: center;
        padding: 5%;
        img {
          height: 100%;
          width: 48%;
          border-radius: 4px;
        }
        .work-text {
          width: 48%;

          h6 {
            font-family: "Inter", sans-serif;
            font-size: 21px;
            font-style: normal;
            font-weight: 400;
            letter-spacing: 1px;
            color: $main-color-2;
            margin-bottom: 2%;
          }
          p {
            font-family: "Noto Sans", sans-serif;
            font-size: 16px;
            font-style: normal;
            font-weight: 300;
            text-decoration: none;
            color: $main-color-6;
            letter-spacing: 1px;
          }
        }
      }
      div:nth-child(3) {
        flex-direction: row;
      }
    }
  }
}
// foot

footer {
  background-color: $main-color-17;
  padding-top: 2%;
  .h-text {
    display: flex;
    margin: 2% 0;
    padding: 0 5%;
    h3 {
      font-family: "Noto Sans", sans-serif;
      font-size: 30px;
      font-style: normal;
      font-weight: 300;
      border-bottom: $main-color-5 2px solid;
      span {
        font-weight: 500;
      }
    }
  }
  .contact-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    form {
      display: flex;
      flex-direction: column;
      width: 80%;
      p {
        font-family: "Inter", sans-serif;
        font-size: 21px;
        font-style: normal;
        font-weight: 400;
        letter-spacing: 1px;
        margin: 2% 0 1%;
      }
      input {
        border-radius: 4px;
        border: none;
        outline: none;
        padding: 5px;
        color: $main-color-4;
        font-family: "Noto Sans", sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 300;
        line-height: 16px;
        letter-spacing: 1px;
      }
      input:last-child {
        padding-bottom: 50%;
      }
      button {
        width: 25%;
        border: none;
        outline: none;
        border-radius: 4px;
        padding: 1% 0;
        margin-top: 2.5%;
        align-self: end;
        color: $main-color-3;
        background-color: $main-color-15;
        font-family: "Noto Sans", sans-serif;
        font-size: 18px;
        letter-spacing: 1px;
        font-weight: 300;
        &:hover {
          background-color: $main-color-16;
        }
        &:active {
          background-color: $main-color-10;
        }
      }
    }
    .foot-bottom {
      width: 100%;
      margin-top: 3%;
      padding: 5%;
      background-color: $main-color-18;
      display: flex;
      justify-content: space-evenly;
      .icons {
        width: 40%;
        display: flex;
        justify-content: space-evenly;
        a {
          color: $main-color-9;
          &:hover {
            color: $main-color-6;
          }
          &:active {
            color: $main-color-2;
          }
        }
      }
    }
  }
}

// adaptive
@media all and (min-width: 2450px) {
  main {
    .section-label-box {
      .label-box {
        .skill-label {
          margin-top: 5.5%;
        }
      }
    }
    .section-about-box {
      .h-text-about {
        margin-top: 0;
      }
      .about-info {
        .about-bio {
          display: flex;
          justify-content: space-between;
          height: 200px;
        }
        .about-gallery {
          margin-top: 1%;
          div {
            width: 32.7%;
          }
        }
      }
    }
    .section-portfolio-box {
      .section-portfolio {
        .work-givers {
          margin-bottom: 2%;
          img {
            width: 35%;
          }
        }
        .works {
          padding: 3% 5%;
          .work-text {
            max-width: 800px;
          }
        }
      }
    }
  }
}
@media all and (max-width: 1220px) {
  header {
    .head {
      .head-left-info {
        .cool-text {
          display: none;
        }
      }
      .head-nav {
        margin-right: 0;
        a {
          margin: 0 8px;
        }
      }
      .head-right-info {
        div {
          a {
            display: none;
          }
        }
        .head-right-info-nav {
          a {
            font-size: 20px;
          }
        }
      }
    }
  }
  main {
    .section-label-box {
      .label-box {
        flex-direction: column;
        align-items: center;
        .skill-label {
          margin-top: 3%;
        }
      }
    }
    .section-about-box {
      .about-info {
        .about-bio {
          width: 100%;
        }
        .about-gallery {
          margin-top: 2%;
          div {
            height: 200px;
            width: 32%;
          }
        }
      }
    }
  }
}
@media all and (max-width: 1180px) {
  main {
    .section-portfolio-box {
      .section-portfolio {
        .works {
          .work-text {
            p {
              letter-spacing: 0px;
              font-size: 16px;
            }
          }
        }
      }
    }
  }
}
@media all and (max-width: 1070px) {
  main {
    .section-portfolio-box {
      .section-portfolio {
        .works {
          .work-text {
            h6 {
              font-size: 15px;
            }
            p {
              letter-spacing: 0px;
              font-size: 14px;
            }
          }
        }
      }
    }
  }
}
@media all and (max-width: 800px) {
  main {
    .home-screen-box {
      .frame {
        .frame-text {
          h3 {
            font-size: 22px;
          }
          h2 {
            font-size: 23px;
          }
        }
      }
    }
    .section-label-box {
      .label-box {
        .skill-label {
          width: 90%;
        }
      }
    }
    .section-about-box {
      .about-info {
        .about-bio {
          display: flex;
          flex-direction: column;
          .left-bio-text {
            width: 100%;
            margin-top: 5%;
            div {
              p {
                line-height: normal;
                letter-spacing: 0px;
                font-size: 14px;
              }
            }
          }
          .right-bio-text {
            margin-top: 2%;
            width: 100%;
            div {
              p {
                line-height: normal;
                letter-spacing: 0px;
                font-size: 14px;
              }
            }
          }
        }
      }
    }
    .section-portfolio-box {
      .section-portfolio {
        .works {
          flex-direction: column-reverse;
          width: 100%;
          img {
            width: 90%;
          }
          .work-text {
            margin-top: 5%;
            width: 90%;
          }
        }
        div:nth-child(3) {
          flex-direction: column-reverse;
        }
      }
    }
  }
}
@media all and (max-width: 700px) {
  main {
    .home-screen-box {
      .frame {
        .frame-text {
          p {
            font-size: 14px;
            letter-spacing: 0;
          }
        }
      }
    }
  }
}
@media all and (max-width: 650px) {
  header {
    .head {
      .head-left-info {
        img {
          margin: 2% 0 2% -8%;
        }
      }
      .head-nav {
        display: none;
        margin-right: 0;
        a {
          margin: 0 8px;
        }
      }
      .head-right-info {
        .head-right-info-nav {
          a {
            font-size: 20px;
            margin-right: 5px;
          }
        }
      }
      .burger {
        display: block;
        i {
          font-size: 27px;
          color: $main-color-6;
        }
        &:hover > .burger-nav {
          display: block;
        }
      }
    }
  }
  main {
    .home-screen-box {
      .frame {
        flex-direction: column-reverse;
        align-items: center;
        .moded-img {
          width: 90%;
          .img {
            width: 90%;
          }
          .sqeare-border {
            width: 90%;
          }
        }
        .frame-text {
          margin: 5% 0;
          width: 80%;
          h3 {
            font-size: 20px;
          }
          h2 {
            font-size: 30px;
          }
        }
      }
      .tag-box {
        flex-direction: column;
        align-items: center;
        .tag {
          width: 90%;
          p {
            letter-spacing: 0;
            font-size: 11px;
          }
        }
      }
    }
    .section-label-box {
      .label-box {
        .skill-label {
          width: 90%;
        }
      }
    }
    .section-about-box {
      .about-info {
        .about-bio {
          flex-direction: column;
          .left-bio-text {
            margin-top: 3%;
            width: 100%;
          }
          .right-bio-text {
            margin-top: 3%;
            width: 100%;
          }
        }
        .about-gallery {
          margin-top: 3%;
          div {
            &:hover > p {
              font-size: 15px;
            }
          }
        }
      }
    }
    .section-portfolio-box {
      .section-portfolio {
        .works {
          flex-direction: column-reverse;
          width: 100%;
          align-items: center;
          h6 {
            margin-top: 10%;
          }
        }
        .works:nth-child(3) {
          flex-direction: column-reverse;
        }
      }
    }
  }
}
@media all and (max-width: 375px) {
  main {
    .home-screen-box {
      .frame {
        flex-wrap: wrap-reverse;
        .frame-text {
          margin: 5% 0;
          width: 100%;
        }
      }
      .tag-box {
        flex-direction: column;
        align-items: center;
        .tag {
          width: 90%;
          p {
            letter-spacing: 0;
            font-size: 11px;
          }
        }
      }
    }
    .section-label-box {
      .label-box {
        .skill-label {
          width: 90%;
        }
      }
    }
    .section-about-box {
      .about-info {
        .about-bio {
          flex-direction: column;
          .left-bio-text {
            margin-top: 5%;
            width: 100%;
          }
          .right-bio-text {
            margin-top: 5%;
            width: 100%;
          }
        }
        .about-gallery {
          margin-top: 5%;
          div {
            &:hover > p {
              font-size: 15px;
            }
          }
        }
      }
    }
    .section-portfolio-box {
      .section-portfolio {
        .works {
          flex-direction: column-reverse;
          width: 100%;
          align-items: center;
          h6 {
            margin-top: 10%;
          }
        }
        .works:nth-child(3) {
          flex-direction: column-reverse;
        }
      }
    }
  }
}
