// colors:
$main-color-1: #bfa08b;
$main-color-2: #000;
$main-color-3: #fff;
$main-color-4: #6b6b6b;
$main-color-5: #ab857c;
//

// custom colors:

//

// default style
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
//main
main {
  .section {
    .h-text {
      margin-left: 5%;
      display: flex;
      h3 {
        font-family: "Noto Sans", sans-serif;
        font-size: 25px;
        font-style: normal;
        font-weight: 500;
        border-bottom: $main-color-5 2px solid;
      }
    }
    .label-box {
      width: 100%;
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
      .skill-label {
        display: flex;
        margin-top: 30px;
        .label-icon {
          margin-right: 8px;
          i {
            font-size: 35px;
            color: $main-color-5;
          }
        }
        .label-text {
          width: 500px;
          h4 {
            font-family: "Inter", sans-serif;
            font-size: 19px;
            font-style: normal;
            font-weight: 500;
          }
          p {
            color: $main-color-4;
            font-family: "Noto Sans", sans-serif;
            font-size: 15px;
            font-style: normal;
            font-weight: 400;
            line-height: 17px;
          }
        }
      }
    }
  }
}
